blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2
pycparser
PyMySQL
python-dotenv
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
WTForms
Gunicorn
