{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<h3 class="mb-4 mt-4 fw-bold">Suggestions for {{ username }}</h3>

<div class="popup-overlay" id="popup">
  <div class="popup-content pt-2 pb-2 mb-2 bg-secondary text-white text-center" id="popup-content">
    <div id="popup-movie-info" class="text-center font-monospace"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        {% for movie in result %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" data-title="{{ movie['title'] }}" data-overview="{{ movie['overview'] }}" data-id="{{ movie['id'] }}" data-vote_average="{{ movie['vote_average'] }}" data-poster="{{ movie['poster_path'] }}" class="gallery_image" alt="...">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4 mb-4 fw-bold">Trending Movies</h3>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        {% for movie in trending %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ movie['poster_path']}}" class="card-img" data-title="{{ movie['title'] }}" data-overview="{{ movie['overview'] }}" data-id="{{ movie['id'] }}"  data-poster="{{ movie['poster_path'] }}" data-vote_average="{{ movie['vote_average'] }}" class="gallery_image" alt="...">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
const sliders = document.querySelectorAll('.col-12');

let mouseDown = false;
let startX, scrollLeft;

let startDragging = function (e) {
  mouseDown = true;
  startX = e.type === 'touchstart' ? e.touches[0].pageX - e.currentTarget.offsetLeft : e.pageX - e.currentTarget.offsetLeft;
  scrollLeft = e.currentTarget.scrollLeft;
};

let stopDragging = function (event) {
  mouseDown = false;
};

const handleSliderMove = (e) => {
  e.preventDefault();
  if (!mouseDown) { return; }
  const x = e.type === 'touchmove' ? e.touches[0].pageX - e.currentTarget.offsetLeft : e.pageX - e.currentTarget.offsetLeft;
  const scroll = x - startX;
  e.currentTarget.scrollLeft = scrollLeft - scroll;
};

sliders.forEach((slider) => {
  slider.addEventListener('mousedown', startDragging, false);
  slider.addEventListener('mouseup', stopDragging, false);
  slider.addEventListener('mouseleave', stopDragging, false);
  slider.addEventListener('mousemove', handleSliderMove);

  slider.addEventListener('touchstart', startDragging, false);
  slider.addEventListener('touchend', stopDragging, false);
  slider.addEventListener('touchcancel', stopDragging, false);
  slider.addEventListener('touchmove', handleSliderMove);
});

document.addEventListener('DOMContentLoaded', function () {
  const cards = document.querySelectorAll('.card');

  let isDragging = false;

  cards.forEach((card) => {
    card.addEventListener('mousedown', () => {
      isDragging = false;
    });

    card.addEventListener('mousemove', () => {
      isDragging = true;
    });

    card.addEventListener('mouseup', (e) => {
      if (!isDragging) {
        const title = card.querySelector('img').getAttribute('data-title');
        const overview = card.querySelector('img').getAttribute('data-overview');
        const id = card.querySelector('img').getAttribute('data-id');
        const maxLength = 250;
        const truncatedOverview = overview.length > maxLength ? overview.substring(0, maxLength) + '...' : overview;
        const rating = card.querySelector('img').getAttribute('data-vote_average');
        showPopup(id, title, truncatedOverview, rating);
      }
      isDragging = false;
    });
  });
});

async function getMovieTrailer(movieId) {
  const key = "{{ key }}";
  const url = `https://api.themoviedb.org/3/movie/${movieId}/videos?api_key=${key}`;
  const response = await fetch(url);
  const data = await response.json();
  return data.results[0].key;
}

async function showPopup(movieId, title, overview, rating) {
  const movieTrailer = await getMovieTrailer(movieId);
  const popup = document.getElementById('popup');
  popup.addEventListener('click', closePopup);
  const popupContent = document.getElementById('popup-content');
  overview = overview ? overview : `No plot for ${title}`;
  popupContent.innerHTML = `
        <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/${movieTrailer}?rel=0&controls=1" title="${title}" allowfullscreen></iframe>
        </div>

        <h5 class='mb-2'>${title}</h5>
        <p class='fw-bold'>Overview</p>
        <p class='mt-2'>${overview}</p>
        <p class='mt-2 lead'>Rating: ${rating}</p>
  `;
  popup.style.display = 'block';
}

function closePopup() {
  const popup = document.getElementById('popup');
  popup.style.display = 'none';
}

</script>
{% endblock %}
