{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<h3 class="mb-4 mt-4 fw-bold">Suggestions for {{ username }}</h3>

<div class="popup-overlay" id="popup">
  <div class="popup-content p-3 mb-2 bg-dark text-white border border-light">
    <button type="button" class="btn-close float-end" onclick="closePopup()" aria-label="Close"></button>
    <div id="popup-movie-info" class="text-center font-monospace"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        {% for movie in result %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ movie['poster_path'] }}" data-title="{{ movie['title'] }}" data-overview="{{ movie['overview'] }}" data-id="{{ movie['id'] }}" class="gallery_image" alt="...">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4 mb-4 fw-bold">Trending Movies</h3>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        <!-- Add your content here -->
        {% for movie in trending %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ movie['poster_path']}}" class="card-img" data-title="{{ movie['title'] }}" data-overview="{{ movie['overview'] }}" data-id="{{ movie['id'] }}" class="gallery_image" alt="..." alt="...">
        </div>
        {% endfor %}
        <!-- Add more cards here -->
      </div>
    </div>
  </div>
</div>


<script src="../static/home.js"></script>
{% endblock %}

