{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/index.css">
{% endblock %}

{% block content %}
<h4 class="mb-4">Suggestions for {{ username }}</h4>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        {% for movie in result %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ movie['poster_path']}}" class="gallery_image" alt="...">
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4 mb-4">Trending Movies</h3>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="content-container">
        <!-- Add your content here -->
        {% for trend in trending %}
        <div class="card">
          <img src="http://image.tmdb.org/t/p/w500/{{ trend['poster_path']}}" class="card-img" alt="...">
        </div>
        {% endfor %}
        <!-- Add more cards here -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

