{%extends "layout.html" %}

{% block title %}
Preference
{% endblock %}

{% block content %}
<h3 class="mb-4 text-center text-danger">Generate Profile</h3>
<form action = "{{ url_for('preference')}}" method="POST" class="mx-auto" style="max-width: 540px;">
  {{ form.hidden_tag() }}
  {{ form.genre.label(class='form-label') }}
  <br>
  {{ form.genre(class='form-select') }}
  <br>
  {{ form.rated.label(class='form-label') }}
  {{ form.rated(class='form-select') }}
  <br>
  {{ form.language.label(class='form-label') }}
  {{ form.language(class='form-select') }}
  <br>
  {{ form.submit(class='btn btn-danger') }}
  <p class="mt-4 text-center">This helps for personalized recommendation</p>
</form>
{% endblock %}