{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/search.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="container" style="max-width: 540px;">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <form class='search mb-5'>
        <input type="text" class='search-input' name='search' autocomplete="off" placeholder="Search a movie">
        <button class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>      
    </div>
  </div>

  <h2 class="heading mb-4 text-center"></h2>
  <div class="result">
  <div class="card text-white bg-dark mb-3 container" style="max-width: 25rem;">
    <img class="card-img-top" src="" style="max-height:20rem; min-width: 100%;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="plot card-text"></p>
      <p class="rating card-text"></p>
      <p class="language card-text"></p>
      <p class="released card-text"></p>
    </div>
  </div>
  </div>

  <span class="loader container"></span>
  
</div>
<script src="../static/search.js"></script>
{% endblock %}