{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/search.css">
{% endblock %}

{% block content %}
<div class="container" style="max-width: 540px;">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <form class='search mb-5' action="{{ url_for('search') }}" method="post">
        <input type="text" name='search' placeholder="Search a movie">
        <button class="search-btn">Search</button>
      </form>      
    </div>
  </div>

  {% if data %}
  <h2 class="mb-4">What we found on {{ data['Title'] }}</h2>
  <div class="card text-white bg-dark mb-3 container" style="max-width: 25rem;">
    <img class="card-img-top" src="{{ data['Poster'] }}" style="max-height:20rem; min-width: 100%;" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ data['Title'] }}</h5>
      <p class="card-text">{{ data['Plot'] }}</p>
      <p class="card-text">Rating: {{ data['Ratings'][0]['Value'] }}</p>
      <p class="card-text">{{ data['Released'] }}</p>
    </div>
  </div>
  {% endif %}

  {% if message %}
  <h2>{{ message }} </h2>
  {% endif %}
  
</div>
{% endblock %}